.article.date {
	margin-top:0;
	padding-bottom:2px;
}
.article.header {
	border-bottom: 1px solid #c6c6c6;
}
.base-body {
	max-width:640px;
}
body {
	hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens:none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}
.site.header {
	min-height:160px;
}
.article.navigation .link {
	font-weight: 400;
	font-size: 90%;
}
.note.content {
	font-size:97%;
}
.note.title, .site.name {
	font-size:20px;
	font-weight:400;
}
.note.date {
	margin-top:-11px;
	margin-bottom:10px;
}
.note.list .item {
	margin:0 0 10px 0;
	padding:3px 0 20px 0;
}
.site.name {
	font-size:28px;
}
.mldr {
	opacity:1;
	font-size:95%;
	color:#007aff;
}