html {
	font-family:Georgia,serif;
	font-size:16px;
}

.article.date {
	margin-top:0;
	padding-bottom:2px;
}
.article.header {
	border-bottom: 1px solid #555;
}
.base-body {
	max-width:640px;
}
.article.markdown-body li+li {
	margin-top:10px;
}
.article.markdown-body ol,
.article.markdown-body ul,
.article.markdown-body blockquote ul {
	margin-top:-10px;
}
.article.markdown-body>:first-child,
.article.markdown-body li>:first-child,
.article.markdown-body blockquote>:first-child {
	margin-top:10px;
}
.article.markdown-body hr {
	border-top-style: solid;
	border-top-color: #555;
}
body {
	hyphens: none;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	-moz-hyphens:none;
	color:#000;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}
.site.header {
	min-height:160px;
}
.article.navigation .link {
	font-weight: 400;
	font-size: 90%;
}
.note.content, .article.markdown-body {
	font-size:104%;
	color:rgb(48,48,48);
	letter-spacing:.05px;
}
.note.title, .site.name {
	font-size:145%;
	font-weight:400;
}
.note.date {
	margin-top:-11px;
	margin-bottom:10px;
}
.note.list .item {
	margin:0 0 10px 0;
	padding:3px 0 20px 0;
}
.site.name {
	font-size:1.9rem;
}
.mldr {
	opacity:1;
	font-size:95%;
	color:#007aff;
}
.pagination ul li a {
	padding: 0px 12px;
	font-weight:normal;
}
